#searchBody{
    /* background: url('../assets/appImg/background.jpg'); */
    height:100%; 
    background-size: cover; 
    width:auto;
    overflow-y: auto;
}

#searchBody:before{
    content: "";
      background-image: url('../assets/appImg/background.jpg');
      background-size: cover;
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      opacity: 0.2;
      z-index: -1;
}
